/* Made by Rafael Oliveira, contact: rafaoliv.ti@gmail.com */
/*geral*/
*,
*:before, 
*:afte {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #FFF;
    background-attachment: fixed;
    height: 100%;
}

#index {
    width: 100vw;
    height: 100vh;
}

.border-gradient::after{
    content: ' ';
    display: block;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(186, 232, 248,0) 0%,rgba(186, 232, 248,0.8) 20%,rgba(186, 232, 248,1) 53%,rgba(186, 232, 248,0.8) 79%,rgba(186, 232, 248,0) 100%); 
    background: linear-gradient(left, rgba(186, 232, 248,0) 0%,rgba(186, 232, 248, 0.8) 20%,rgba(186, 232, 248,1) 53%,rgba(186, 232, 248,0.8) 79%,rgba(186, 232, 248,0) 100%); 
    margin-bottom: 15px;
  }

  .left-align-pers {
    text-align: left;
}

#repository h2,
#skills h2 {
    padding: 10px;
    font-size: 40px;
    color: #8a8a8a;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*index*/
#index {
    background-image: url(../assets/background_carioca.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeInUp .6s .5s ease both;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

h1#index-show-open {
    font-size: 80px;
    font-weight: bold;
    color: #FFF;
}

span#index-show-open-below {
    font-size: 35px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8);
}

/*menu*/

nav.navbar {
    padding: 0.1px;
}

nav.transparent-menu {
    background: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-brand, 
.navbar-light .navbar-brand:hover, 
.navbar-light .navbar-nav .nav-link  { 
    color:  #FFF;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #08AEEA;
}

.navbar-light .navbar-toggler {
    border-color: white;
}

/*repository*/
#repository {
    margin-top: 10px;
}

.card {
    margin-top: 5px;
}

.text-transition h4,
.text-transition p {
    opacity: 0;
}

.img-transition:hover img {
    opacity: 0.3;
}

.up-transition:hover h4,
.up-transition:hover p {
    opacity: 1;
    color: #020e1b;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.up-transition:hover {
    transform: scale(1.1);
    transition: 0.5 all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 5px 10px #c2efff;
    z-index: 5;
}

#repository h2 {
    margin-top: 30px;
}

/*Skills*/
#skills ul {
    margin-top: 10px;
    margin-bottom: 25px;
}

#skills ul li {
    text-align: center;
    padding: 15px;
}

#skills ul li h6 {
    margin-left: 10px;
}

#skills h3 {
    text-align: center;
}

#skills li {
    display: flex;
}

/*aboutme*/
#aboutme {
    width: 100%;
    height: 470px;
    overflow: hidden;
    background: #f5f4f4;
}

#aboutme .col {
    float: left;
}

#aboutme .col.left {
    height: 100%;
    width: 48%;
    overflow: hidden;
    background-image: url(../assets/me.jpg);
    background-size: cover;
}

#aboutme .col.right {
    width: 46%;
    padding-right: 7%;
    margin-top: 100px;
}

.col.left img {
    width: 100%;
    height: 100%;
}

/*footer*/
footer {
    position: relative;
}

#footer {
    align-items: right;
    flex-direction: row;
}

#footer h2 {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    color: #fff;
}

#footer ul {
    text-align: center;
    list-style: none;
}

#footer li {
    display: inline-flex;
    padding: 10px;
}

#footer a {
    text-decoration: none;
    color: #FFF;
}