#about header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about header img {
    margin-top: 75px;
    margin-right: 50px;
    margin-left: 25px;
    border-radius: 15px;
    border-color: var(--primary-color);
    border-style: solid;
    background-color: white;
}