fieldset {
    background-color: rgba(218, 218, 218, 0.253);
    display: flex;
    justify-content: center;
    max-width: 300px;
    max-height: 500px;
    margin: auto;
    border-radius: 10px;
    border-color: var(--primary-color);
}

fieldset .field-group {
    display: grid;
    flex-direction: column;
    justify-content: center;    
}

fieldset .field-group .field {
    max-width: 400px;
    display: flex;
}